# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [9]:
cities  = pd.read_csv('clean city data')

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [15]:
locations = cities[['Lat', 'Long']]
weights = cities['Humidity']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))




fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [64]:
#find temp at and above 21˚Celius
low_temp = cities.loc[cities['Max Temp']>=21]
# low_temp.head(2)

In [65]:
#find temp at and below 27˚Celius
high_temp = low_temp.loc[low_temp['Max Temp']<=27]
# high_temp

In [66]:
#find wind speed less than equal to 1 (m/s)
low_wind = high_temp.loc[high_temp['Wind Speed']<=1]
# low_wind

In [79]:
#it seems like it was avery cloudy day
# Store into variable named hotel_df.
hotel_df = low_wind.loc[low_wind['Cloudiness']<=92]
hotel_df

,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
35,Fairbanks,64.84,-147.72,25.56,50,1,0.78,US,1596319690
45,Dum Duma,27.57,95.57,25.15,95,86,0.32,IN,1596319683
178,Ryōtsu-minato,38.08,138.43,22.00,100,50,1.00,JP,1596319725
192,Honiara,-9.43,159.95,25.00,88,75,0.49,SB,1596319689
226,Ürümqi,43.80,87.60,23.00,35,0,1.00,CN,1596319737
275,Wamba,8.93,8.60,22.85,92,92,0.90,NG,1596319748
395,Tiznit Province,29.58,-9.50,26.76,44,20,0.61,MA,1596319778
409,Ankang,32.68,109.02,24.03,86,76,0.89,CN,1596319782
411,Mannārakkāt,10.98,76.47,23.00,94,75,1.00,IN,1596319782
484,Shimoda,34.67,138.95,22.78,86,23,0.45,JP,1596319800
489,Yining,29.04,114.56,25.31,86,74,0.77,CN,1596319720

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [80]:
# Add a "Hotel Name" column to the DataFrame.
hotel_df.insert(0,'Hotel Name','')
# hotel_df.head(20)

,Hotel Name,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
35,,Fairbanks,64.84,-147.72,25.56,50,1,0.78,US,1596319690

In [81]:
hotel_df

,Hotel Name,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
35,,Fairbanks,64.84,-147.72,25.56,50,1,0.78,US,1596319690
45,,Dum Duma,27.57,95.57,25.15,95,86,0.32,IN,1596319683
178,,Ryōtsu-minato,38.08,138.43,22.00,100,50,1.00,JP,1596319725
192,,Honiara,-9.43,159.95,25.00,88,75,0.49,SB,1596319689
226,,Ürümqi,43.80,87.60,23.00,35,0,1.00,CN,1596319737
275,,Wamba,8.93,8.60,22.85,92,92,0.90,NG,1596319748
395,,Tiznit Province,29.58,-9.50,26.76,44,20,0.61,MA,1596319778
409,,Ankang,32.68,109.02,24.03,86,76,0.89,CN,1596319782
411,,Mannārakkāt,10.98,76.47,23.00,94,75,1.00,IN,1596319782
484,,Shimoda,34.67,138.95,22.78,86,23,0.45,JP,1596319800
489,,Yining,29.04,114.56,25.31,86,74,0.77,CN,1596319720

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure